body{
	background-image: url("images/Login.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#roundedSquare{
	border-radius: 30px;
	background: #fefefe;
	
	width: 500px;
	height: 420px; 
	float: right;
	margin: 150px;


}
#signIn{
	font-size: 350%;
	font-family: Gadugi;
	text-align: right;
	padding-left: 30px;
	padding-top: 50%;

	
}
.defaultSize{
	text-align: left;
	color:black;
	font-size: 14px;
	font-family: Gadugi;
	width: 50%;
	margin-left: 110px;
	background-color: #D0CECE;
	border-radius:6px;
	border: none;
	padding: 8px 20px;

}
.btnLogin{
	
	background-color: #5F9840; /* Green */
 	border: none;
 	border-radius: 10px;
  	color: white;
 	padding: 8px 20px;
  	float: right;
  	font-size: 16px;
  	font-family: Gadugi;
  	font-weight: bold;
  	margin-right: 100px;
  	cursor:pointer;
}	
#forPass{
	float: center;
	padding-top: 20px;
	padding-left: 25%;
	font-family: Gadugi;
	text-decoration: none;
}
#line{
	padding-left: 50px;

}

#signUp{
	float: right;
	padding-right: 43%;
	text-decoration: none;
	color: #FDD248;
	font-family: Gadugi;
	font-size: 20px;
	font-weight: bolder;
}